<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Hizmet Ekle</title>
</head>
<body>
    <h1>Yeni Hizmet Ekle</h1>
    <form action="/service/add" method="POST" enctype="multipart/form-data">
        <label for="category">Kategori:</label>
        <select name="category" required>
            <option value="Vergi xidməti">Vergi xidməti</option>
            <option value="Mühasibat xidməti">Mühasibat xidməti</option>
            <option value="Mətbəə və poliqrafiya">Mətbəə və poliqrafiya</option>
            <option value="Boşdur">Boşdur</option>
        </select><br><br>
    
        <label for="image">Resim Yükle:</label>
        <input type="file" name="image" accept="image/*" required><br><br>
    
        <label for="name">İsim:</label>
        <input type="text" name="name" required><br><br>
    
        <label for="description">Açıklama:</label>
        <textarea name="description" required></textarea><br><br>
    
        <label for="info">Bilgi:</label>
        <textarea name="info" required></textarea><br><br>
    
        <button type="submit">Ekle</button>
    </form>
</body>
</html>